# Dependencias
/backend/node_modules
/frontend/node_modules
frontend/.next/
backend/dist/

# Archivos de configuración y secretos
/frontend/.env.local
.env
.env.development
.env.production
client_secret_978397440838-scchineh8vovegvlatad292tj6lq5vbh.apps.googleusercontent.com.json


# Compilación y logs
/dist
/build
*.log

# Entornos de desarrollo
.vscode/
/sistema de boxeo.code-workspace